.hero {
  background: url("/hero-bg.jpg") center/cover no-repeat;
  height: 600px;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  justify-content: center;
  position: relative;
  overflow: hidden;

  .container {
    width: fit-content;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
  }
  .highlight {
    display: block;
    color: var(--yellow);
    font-size: 3rem;
    font-weight: 700;
    margin: 15px 0;
  }

  .btn-primary {
    margin-top: 40px;
    background: var(--yellow);
    padding: 10px 50px;
    text-transform: uppercase;
    border: none;
    font-size: 0.8rem;
    font-weight: 400;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    user-select: none;
  }

  .carousel {
    position: absolute;
    z-index: -2;
    width: 80%;
    max-height: 500px;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, var(--blue) 0%, rgba(0, 0, 0, 0) 100%);
      pointer-events: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .carousel-inner {
      border-radius: 6px;
    }
  }
}
