:root {
  --blue: rgb(8, 66, 192);
  --yellow: rgb(241, 161, 36);
  --black: rgb(14, 20, 34);
  --black-rgb: 14, 20, 34;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: url("../assets/background-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  user-select: none;
}
